{% extends 'base.html.twig' %}

{% block title %}Aperçu de la facture{% endblock %}

{% block body %}
    <h1>Aperçu de la facture</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ invoice.id }}</td>
                <td>{{ invoice.client ? invoice.client.name : '' }}</td>
                <td>{{ invoice.status.value }}</td>
                <td>{{ invoice.createdAt ? invoice.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ invoice.totalTtc }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_invoice_index') }}">back to list</a>

    <a href="{{ path('app_invoice_edit', {'id': invoice.id}) }}">edit</a>

    {{ include('invoice/_delete_form.html.twig') }}
{% endblock %}
