{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<body class="bg-[#F9FAFB] font-sans flex flex-col justify-center items-center gap-8 min-h-screen">
<div class="flex flex-col justify-center items-center gap-4 mt-10">

    <header class="flex flex-col justify-center items-center gap-2 mb-5">
        <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 4V44L12 42L16 44L20 42L24 44L28 42L32 44L36 42L40 44V4L36 6L32 4L28 6L24 4L20 6L16 4L12 6L8 4Z" stroke="#155DFC" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M32 16H20C18.9391 16 17.9217 16.4214 17.1716 17.1716C16.4214 17.9217 16 18.9391 16 20C16 21.0609 16.4214 22.0783 17.1716 22.8284C17.9217 23.5786 18.9391 24 20 24H28C29.0609 24 30.0783 24.4214 30.8284 25.1716C31.5786 25.9217 32 26.9391 32 28C32 29.0609 31.5786 30.0783 30.8284 30.8284C30.0783 31.5786 29.0609 32 28 32H16" stroke="#155DFC" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M24 35V13" stroke="#155DFC" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <h1 class="text-2xl font-bold text-heading">Connectez-vous</h1>
        <p>Ou <a href="{{ path('app_register') }}" class="font-medium text-[#155DFC] hover:underline">créez un compte gratuitement</a></p>
    </header>

    <main class="w-[480px] shadow-md bg-white rounded-sm">

        {% if app.user %}
            <div class="p-6 text-sm text-heading">
                Connecté en tant que {{ app.user.userIdentifier }},
                
                <a href="{{ logout_path() }}" class="text-fg-brand hover:underline">Se déconnecter</a>
            </div>
            
        {% endif %}

        <form method="post" class="flex flex-col p-6 gap-4">

            {% if error %}
                <div class="text-red-500 text-sm">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <div class="flex flex-col justify-start items-start gap-2">
                <label for="username" class="block mb-2.5 text-md font-medium text-heading">Adresse Email</label>
                <input type="email" value="{{ last_username }}" name="_username" id="username"
                    class="border border-gray-300 rounded-sm w-full px-4 py-3 text-md"
                    placeholder="contact@entreprise.fr" autocomplete="email" required autofocus />
            </div>

            <div class="flex flex-col justify-start items-start gap-2">
                <label for="password" class="block mb-2.5 text-md font-medium text-heading">Mot de passe</label>
                <input type="password" name="_password" id="password"
                    class="border border-gray-300 rounded-sm w-full px-4 py-3 text-md"
                    placeholder="••••••••" autocomplete="current-password" required />
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button type="submit"
                class="w-full text-white bg-brand border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium font-medium leading-5 rounded-base text-md px-4 py-2.5">
                Se connecter
            </button>

        </form>

    </main>

</div>
</body>
{% endblock %}