{% extends 'base.html.twig' %}

{% block title %}Nouveau produit{% endblock %}

{% block body %}
<div class="min-h-screen flex bg-[#F9FAFB]">

    <twig:NavAside />

    <div class="flex-1 flex flex-col items-center gap-10 py-10">

        <header class="flex flex-col items-center gap-2">
            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M8 4V44L12 42L16 44L20 42L24 44L28 42L32 44L36 42L40 44V4L36 6L32 4L28 6L24 4L20 6L16 4L12 6L8 4Z"
                    stroke="#155DFC" stroke-width="4" />
                <path
                    d="M32 16H20C18.9391 16 17.9217 16.4214 17.1716 17.1716C16.4214 17.9217 16 18.9391 16 20C16 21.0609 16.4214 22.0783 17.1716 22.8284C17.9217 23.5786 18.9391 24 20 24H28"
                    stroke="#155DFC" stroke-width="4" />
            </svg>

            <h1 class="text-2xl font-bold">Ajouter un nouveau produit</h1>

            <a href="{{ path('app_product_index') }}" class="text-[#155DFC] hover:underline">
                Retour à la liste
            </a>
        </header>

        <main class="bg-white shadow-md rounded-lg p-6 w-full max-w-xl">
            {{ include('product/_form.html.twig') }}
        </main>

        <section class="w-full max-w-5xl mt-10">
            <h2 class="text-xl font-semibold mb-4">Produits & Services existants</h2>

            <div class="overflow-x-auto bg-white shadow rounded-lg">
                <table class="w-full text-sm text-left">
                    <thead class="bg-gray-100 text-gray-700">
                        <tr>
                            <th class="p-4">Nom</th>
                            <th class="p-4">Description</th>
                            <th class="p-4">Prix</th>
                            <th class="p-4">Unité</th>
                            <th class="p-4">Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for product in products %}
                        <tr class="border-t hover:bg-gray-50">
                            <td class="p-4">{{ product.name }}</td>
                            <td class="p-4">{{ product.description }}</td>
                            <td class="p-4">{{ product.price }}</td>
                            <td class="p-4">{{ product.unit.value }}</td>

                            <td class="p-4 flex gap-3">
                                <a href="{{ path('app_product_show', {'id': product.id}) }}"><svg width="17" height="17"
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 576 512"><!--!Font Awesome Free v7.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.-->
                                        <path fill="rgb(0, 97, 95)"
                                            d="M288 80C222.8 80 169.2 109.6 128.1 147.7 89.6 183.5 63 226 49.4 256 63 286 89.6 328.5 128.1 364.3 169.2 402.4 222.8 432 288 432s118.8-29.6 159.9-67.7C486.4 328.5 513 286 526.6 256 513 226 486.4 183.5 447.9 147.7 406.8 109.6 353.2 80 288 80zM95.4 112.6C142.5 68.8 207.2 32 288 32s145.5 36.8 192.6 80.6c46.8 43.5 78.1 95.4 93 131.1 3.3 7.9 3.3 16.7 0 24.6-14.9 35.7-46.2 87.7-93 131.1-47.1 43.7-111.8 80.6-192.6 80.6S142.5 443.2 95.4 399.4c-46.8-43.5-78.1-95.4-93-131.1-3.3-7.9-3.3-16.7 0-24.6 14.9-35.7 46.2-87.7 93-131.1zM288 336c44.2 0 80-35.8 80-80 0-29.6-16.1-55.5-40-69.3-1.4 59.7-49.6 107.9-109.3 109.3 13.8 23.9 39.7 40 69.3 40zm-79.6-88.4c2.5 .3 5 .4 7.6 .4 35.3 0 64-28.7 64-64 0-2.6-.2-5.1-.4-7.6-37.4 3.9-67.2 33.7-71.1 71.1zm45.6-115c10.8-3 22.2-4.5 33.9-4.5 8.8 0 17.5 .9 25.8 2.6 .3 .1 .5 .1 .8 .2 57.9 12.2 101.4 63.7 101.4 125.2 0 70.7-57.3 128-128 128-61.6 0-113-43.5-125.2-101.4-1.8-8.6-2.8-17.5-2.8-26.6 0-11 1.4-21.8 4-32 .2-.7 .3-1.3 .5-1.9 11.9-43.4 46.1-77.6 89.5-89.5z" />
                                    </svg></a>
                                <a href="{{ path('app_product_edit', {'id': product.id}) }}"><svg width="17" height="17"
                                        viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M15.1305 4.35929C15.527 3.96285 15.7498 3.42514 15.7499 2.86443C15.7499 2.30372 15.5273 1.76594 15.1308 1.36941C14.7344 0.972879 14.1967 0.75007 13.636 0.75C13.0753 0.74993 12.5375 0.972604 12.141 1.36904L2.13145 11.3808C1.95732 11.5544 1.82854 11.7682 1.75645 12.0033L0.765701 15.2673C0.746317 15.3321 0.744853 15.401 0.761464 15.4667C0.778075 15.5323 0.812141 15.5922 0.860048 15.64C0.907955 15.6879 0.967916 15.7218 1.03357 15.7383C1.09922 15.7548 1.16812 15.7533 1.23295 15.7338L4.4977 14.7438C4.73258 14.6724 4.94633 14.5444 5.1202 14.371L15.1305 4.35929Z"
                                            stroke="#155DFC" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                </a>
                                <a href="{{ path('app_product_delete', {'id': product.id}) }}"><svg width="15"
                                        height="17" viewBox="0 0 15 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0.75 3.75H14.25" stroke="#E7000B" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path
                                            d="M12.75 3.75V14.25C12.75 15 12 15.75 11.25 15.75H3.75C3 15.75 2.25 15 2.25 14.25V3.75"
                                            stroke="#E7000B" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path
                                            d="M4.5 3.75V2.25C4.5 1.5 5.25 0.75 6 0.75H9C9.75 0.75 10.5 1.5 10.5 2.25V3.75"
                                            stroke="#E7000B" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path d="M6 7.5V12" stroke="#E7000B" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path d="M9 7.5V12" stroke="#E7000B" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="5" class="p-4 text-center text-gray-500">
                                Aucun produit trouvé
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>

    </div>
</div>
{% endblock %}