{% extends 'base.html.twig' %}

{% block title %}Nouveau Client{% endblock %}

{% block body %}

<div class="min-h-screen flex bg-[#f8fafc]">

    <twig:NavAside />

    <main class="flex-1 p-8 flex flex-col items-center gap-10">

        <svg width="36" height="44" viewBox="0 0 36 44" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2 2V42L6 40L10 42L14 40L18 42L22 40L26 42L30 40L34 42V2L30 4L26 2L22 4L18 2L14 4L10 2L6 4L2 2Z"
                stroke="#155DFC" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
            <path
                d="M26 14H14C12.9391 14 11.9217 14.4214 11.1716 15.1716C10.4214 15.9217 10 16.9391 10 18C10 19.0609 10.4214 20.0783 11.1716 20.8284C11.9217 21.5786 12.9391 22 14 22H22C23.0609 22 24.0783 22.4214 24.8284 23.1716C25.5786 23.9217 26 24.9391 26 26C26 27.0609 25.5786 28.0783 24.8284 28.8284C24.0783 29.5786 23.0609 30 22 30H10"
                stroke="#155DFC" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M18 33V11" stroke="#155DFC" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
        </svg>

        <div class="flex flex-row justify-center w-full max-w-5xl  items-center">

            <h1 class="text-2xl font-semibold text-gray-900">
                Créer un client
            </h1>

        </div>


        <div class="bg-white rounded-lg shadow p-6 max-w-2xl">
            {{ include('client/_form.html.twig') }}
        </div>


        <div class="w-full max-w-5xl">

            <h2 class="text-centertext-2xl font-semibold mb-4">
                Clients existants
            </h2>

            <div class="overflow-x-auto bg-white rounded-lg shadow">
                <table class="w-full border-collapse">

                    <thead class="bg-gray-100 text-left">
                        <tr>
                            <th class="p-4">Nom</th>
                            <th class="p-4">Email</th>
                            <th class="p-4">Téléphone</th>
                            <th class="p-4">Adresse</th>
                            <th class="p-4">SIRET</th>
                            <th class="p-4">RIB</th>
                            <th class="p-4">Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for client in clients %}
                        <tr class="border-t hover:bg-[#0D3B9E] hover:text-white transition-colors duration-200">

                            <td class="p-4">{{ client.name }}</td>
                            <td class="p-4">{{ client.email }}</td>
                            <td class="p-4">{{ client.phone }}</td>
                            <td class="p-4">{{ client.address }}</td>
                            <td class="p-4">{{ client.siret }}</td>
                            <td class="p-4">{{ client.rib }}</td>

                            <td class="p-4 flex gap-2">
                                <a href="{{ path('app_client_show', {'id': client.id}) }}"><svg width="17" height="17"
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 576 512"><!--!Font Awesome Free v7.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.-->
                                        <path fill="rgb(0, 97, 95)"
                                            d="M288 80C222.8 80 169.2 109.6 128.1 147.7 89.6 183.5 63 226 49.4 256 63 286 89.6 328.5 128.1 364.3 169.2 402.4 222.8 432 288 432s118.8-29.6 159.9-67.7C486.4 328.5 513 286 526.6 256 513 226 486.4 183.5 447.9 147.7 406.8 109.6 353.2 80 288 80zM95.4 112.6C142.5 68.8 207.2 32 288 32s145.5 36.8 192.6 80.6c46.8 43.5 78.1 95.4 93 131.1 3.3 7.9 3.3 16.7 0 24.6-14.9 35.7-46.2 87.7-93 131.1-47.1 43.7-111.8 80.6-192.6 80.6S142.5 443.2 95.4 399.4c-46.8-43.5-78.1-95.4-93-131.1-3.3-7.9-3.3-16.7 0-24.6 14.9-35.7 46.2-87.7 93-131.1zM288 336c44.2 0 80-35.8 80-80 0-29.6-16.1-55.5-40-69.3-1.4 59.7-49.6 107.9-109.3 109.3 13.8 23.9 39.7 40 69.3 40zm-79.6-88.4c2.5 .3 5 .4 7.6 .4 35.3 0 64-28.7 64-64 0-2.6-.2-5.1-.4-7.6-37.4 3.9-67.2 33.7-71.1 71.1zm45.6-115c10.8-3 22.2-4.5 33.9-4.5 8.8 0 17.5 .9 25.8 2.6 .3 .1 .5 .1 .8 .2 57.9 12.2 101.4 63.7 101.4 125.2 0 70.7-57.3 128-128 128-61.6 0-113-43.5-125.2-101.4-1.8-8.6-2.8-17.5-2.8-26.6 0-11 1.4-21.8 4-32 .2-.7 .3-1.3 .5-1.9 11.9-43.4 46.1-77.6 89.5-89.5z" />
                                    </svg></a>
                                <a href="{{ path('app_client_edit', {'id': client.id}) }}"><svg width="17" height="17"
                                        viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M15.1305 4.35929C15.527 3.96285 15.7498 3.42514 15.7499 2.86443C15.7499 2.30372 15.5273 1.76594 15.1308 1.36941C14.7344 0.972879 14.1967 0.75007 13.636 0.75C13.0753 0.74993 12.5375 0.972604 12.141 1.36904L2.13145 11.3808C1.95732 11.5544 1.82854 11.7682 1.75645 12.0033L0.765701 15.2673C0.746317 15.3321 0.744853 15.401 0.761464 15.4667C0.778075 15.5323 0.812141 15.5922 0.860048 15.64C0.907955 15.6879 0.967916 15.7218 1.03357 15.7383C1.09922 15.7548 1.16812 15.7533 1.23295 15.7338L4.4977 14.7438C4.73258 14.6724 4.94633 14.5444 5.1202 14.371L15.1305 4.35929Z"
                                            stroke="#155DFC" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                </a>
                                <a href="{{ path('app_client_delete', {'id': client.id}) }}"><svg width="15" height="17"
                                        viewBox="0 0 15 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0.75 3.75H14.25" stroke="#E7000B" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path
                                            d="M12.75 3.75V14.25C12.75 15 12 15.75 11.25 15.75H3.75C3 15.75 2.25 15 2.25 14.25V3.75"
                                            stroke="#E7000B" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path
                                            d="M4.5 3.75V2.25C4.5 1.5 5.25 0.75 6 0.75H9C9.75 0.75 10.5 1.5 10.5 2.25V3.75"
                                            stroke="#E7000B" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path d="M6 7.5V12" stroke="#E7000B" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path d="M9 7.5V12" stroke="#E7000B" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </td>

                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="7" class="p-4 text-center text-gray-500">
                                Aucun client trouvé
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>

    </main>
</div>

{% endblock %}