{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<div class="min-h-screen flex bg-[#f8fafc]">
    <aside class="w-56 min-h-screen bg-white flex flex-col py-4 px-3 gap-1 shrink-0 border-r border-gray-200">
        <svg width="151" height="28" viewBox="0 0 151 28" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.66663 2.33325V25.6666L6.99996 24.4999L9.33329 25.6666L11.6666 24.4999L14 25.6666L16.3333 24.4999L18.6666 25.6666L21 24.4999L23.3333 25.6666V2.33325L21 3.49992L18.6666 2.33325L16.3333 3.49992L14 2.33325L11.6666 3.49992L9.33329 2.33325L6.99996 3.49992L4.66663 2.33325Z" stroke="#155DFC" stroke-width="2.33333" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M18.6667 9.33325H11.6667C11.0479 9.33325 10.4544 9.57909 10.0168 10.0167C9.57921 10.4543 9.33337 11.0477 9.33337 11.6666C9.33337 12.2854 9.57921 12.8789 10.0168 13.3165C10.4544 13.7541 11.0479 13.9999 11.6667 13.9999H16.3334C16.9522 13.9999 17.5457 14.2458 17.9833 14.6833C18.4209 15.1209 18.6667 15.7144 18.6667 16.3333C18.6667 16.9521 18.4209 17.5456 17.9833 17.9832C17.5457 18.4208 16.9522 18.6666 16.3334 18.6666H9.33337" stroke="#155DFC" stroke-width="2.33333" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M14 20.4166V7.58325" stroke="#155DFC" stroke-width="2.33333" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M44.2188 15.9512V21H41.3379V7.24023H51.4844V9.4668H44.2188V13.7246H51.2598V15.9512H44.2188ZM56.0645 21.1953C55.0423 21.1953 54.2448 20.9186 53.6719 20.3652C53.099 19.8053 52.8125 19.0208 52.8125 18.0117C52.8125 16.918 53.1673 16.0879 53.877 15.5215C54.5931 14.9551 55.6283 14.6589 56.9824 14.6328L59.2578 14.5938V14.0566C59.2578 13.3665 59.1374 12.8555 58.8965 12.5234C58.6556 12.1849 58.2617 12.0156 57.7148 12.0156C57.207 12.0156 56.8327 12.1328 56.5918 12.3672C56.3574 12.5951 56.2109 12.9759 56.1523 13.5098L53.291 13.373C53.6491 11.2832 55.1628 10.2383 57.832 10.2383C59.1667 10.2383 60.1953 10.5671 60.918 11.2246C61.6406 11.8822 62.002 12.8164 62.002 14.0273V17.875C62.002 18.4674 62.0671 18.8776 62.1973 19.1055C62.334 19.3268 62.5586 19.4375 62.8711 19.4375C63.0794 19.4375 63.2812 19.418 63.4766 19.3789V20.8633C63.138 20.9479 62.8483 21.0098 62.6074 21.0488C62.3665 21.0944 62.0703 21.1172 61.7188 21.1172C61.0286 21.1172 60.5176 20.9479 60.1855 20.6094C59.86 20.2708 59.6647 19.7728 59.5996 19.1152H59.541C59.1569 19.8053 58.6751 20.3262 58.0957 20.6777C57.5163 21.0228 56.8392 21.1953 56.0645 21.1953ZM59.2578 16.1074L57.8516 16.127C57.207 16.1595 56.7546 16.2279 56.4941 16.332C56.2272 16.4492 56.0221 16.625 55.8789 16.8594C55.7422 17.0938 55.6738 17.4062 55.6738 17.7969C55.6738 18.2982 55.7878 18.6725 56.0156 18.9199C56.25 19.1608 56.5592 19.2812 56.9434 19.2812C57.373 19.2812 57.7669 19.1641 58.125 18.9297C58.4766 18.6953 58.7533 18.373 58.9551 17.9629C59.1569 17.5462 59.2578 17.1068 59.2578 16.6445V16.1074ZM69.1602 21.1953C67.5586 21.1953 66.3216 20.7201 65.4492 19.7695C64.5768 18.8125 64.1406 17.4811 64.1406 15.7754C64.1406 14.0306 64.5801 12.6732 65.459 11.7031C66.3379 10.7266 67.5846 10.2383 69.1992 10.2383C70.4427 10.2383 71.4714 10.5508 72.2852 11.1758C73.099 11.8008 73.61 12.6634 73.8184 13.7637L71.0547 13.9004C70.9766 13.36 70.7812 12.9303 70.4688 12.6113C70.1562 12.2858 69.7135 12.123 69.1406 12.123C68.431 12.123 67.9004 12.4193 67.5488 13.0117C67.1973 13.5977 67.0215 14.4831 67.0215 15.668C67.0215 16.8854 67.2005 17.8001 67.5586 18.4121C67.9232 19.0176 68.4635 19.3203 69.1797 19.3203C69.7005 19.3203 70.1367 19.1576 70.4883 18.832C70.8398 18.5 71.0579 18.0085 71.1426 17.3574L73.8965 17.4844C73.7988 18.2266 73.5352 18.8776 73.1055 19.4375C72.6823 19.9909 72.1322 20.4238 71.4551 20.7363C70.778 21.0423 70.013 21.1953 69.1602 21.1953ZM80.9082 20.8438C80.2441 21.0651 79.4727 21.1758 78.5938 21.1758C77.7865 21.1758 77.1647 20.9577 76.7285 20.5215C76.2923 20.0788 76.0742 19.4115 76.0742 18.5195V12.2891H74.7363V10.4336H76.2109L77.0703 7.95312H78.7891V10.4336H80.791V12.2891H78.7891V17.7773C78.7891 18.2917 78.8867 18.6725 79.082 18.9199C79.2773 19.1608 79.5801 19.2812 79.9902 19.2812C80.1855 19.2812 80.4915 19.2357 80.9082 19.1445V20.8438ZM89.2676 18.9004C88.903 19.7012 88.4375 20.2839 87.8711 20.6484C87.3112 21.013 86.6439 21.1953 85.8691 21.1953C84.7493 21.1953 83.89 20.8535 83.291 20.1699C82.6921 19.4798 82.3926 18.4707 82.3926 17.1426V10.4336H85.1367V16.3613C85.1367 17.2858 85.293 17.9824 85.6055 18.4512C85.918 18.9134 86.3867 19.1445 87.0117 19.1445C87.6758 19.1445 88.2096 18.8613 88.6133 18.2949C89.0234 17.722 89.2285 16.9896 89.2285 16.0977V10.4336H91.9727V18.6367C91.9727 19.0859 91.9792 19.5091 91.9922 19.9062C92.0052 20.2969 92.0247 20.6615 92.0508 21H89.4336C89.3945 20.5312 89.3652 20.1211 89.3457 19.7695C89.3262 19.418 89.3164 19.1283 89.3164 18.9004H89.2676ZM97.5195 15.8145V21H94.7754V12.9141C94.7754 12.3346 94.7656 11.8529 94.7461 11.4688C94.7331 11.0781 94.7168 10.7331 94.6973 10.4336H97.3145C97.3275 10.4922 97.3405 10.6224 97.3535 10.8242C97.3665 11.026 97.3796 11.2539 97.3926 11.5078C97.4056 11.7552 97.4154 11.9896 97.4219 12.2109C97.4349 12.4323 97.4414 12.5918 97.4414 12.6895H97.4805C97.7409 11.9603 97.9785 11.4362 98.1934 11.1172C98.4017 10.8112 98.6491 10.5866 98.9355 10.4434C99.222 10.3001 99.5801 10.2285 100.01 10.2285C100.361 10.2285 100.645 10.2773 100.859 10.375V12.6699C100.423 12.5723 100.033 12.5234 99.6875 12.5234C99.0039 12.5234 98.4701 12.8001 98.0859 13.3535C97.7083 13.9069 97.5195 14.7272 97.5195 15.8145ZM113.73 17.0352C113.73 18.3828 113.229 19.4147 112.227 20.1309C111.23 20.8405 109.766 21.1953 107.832 21.1953C104.349 21.1953 102.321 19.9355 101.748 17.416L104.531 16.957C104.72 17.6862 105.088 18.2168 105.635 18.5488C106.182 18.8743 106.94 19.0371 107.91 19.0371C108.919 19.0371 109.674 18.8841 110.176 18.5781C110.677 18.2721 110.928 17.8132 110.928 17.2012C110.928 16.8105 110.814 16.4883 110.586 16.2344C110.358 15.9805 110.033 15.7689 109.609 15.5996C109.401 15.515 109.095 15.4238 108.691 15.3262C108.288 15.222 107.786 15.1081 107.188 14.9844C106.497 14.8216 105.957 14.6849 105.566 14.5742C105.176 14.457 104.863 14.3464 104.629 14.2422C104.395 14.1315 104.167 14.0111 103.945 13.8809C103.457 13.5879 103.076 13.1973 102.803 12.709C102.529 12.2207 102.393 11.612 102.393 10.8828C102.393 9.63932 102.858 8.6888 103.789 8.03125C104.727 7.36719 106.087 7.03516 107.871 7.03516C109.577 7.03516 110.856 7.30208 111.709 7.83594C112.568 8.36979 113.122 9.25195 113.369 10.4824L110.576 10.8633C110.433 10.2708 110.14 9.82487 109.697 9.52539C109.261 9.22591 108.633 9.07617 107.812 9.07617C106.94 9.07617 106.286 9.21289 105.85 9.48633C105.413 9.75977 105.195 10.1699 105.195 10.7168C105.195 11.0749 105.286 11.3678 105.469 11.5957C105.658 11.8236 105.934 12.0189 106.299 12.1816C106.644 12.3379 107.383 12.5365 108.516 12.7773C109.173 12.9206 109.74 13.0573 110.215 13.1875C110.69 13.3112 111.071 13.4316 111.357 13.5488C111.644 13.6725 111.898 13.8027 112.119 13.9395C112.347 14.0762 112.542 14.2227 112.705 14.3789C113.037 14.6979 113.291 15.0788 113.467 15.5215C113.643 15.9577 113.73 16.4622 113.73 17.0352ZM118.35 21.1953C117.327 21.1953 116.53 20.9186 115.957 20.3652C115.384 19.8053 115.098 19.0208 115.098 18.0117C115.098 16.918 115.452 16.0879 116.162 15.5215C116.878 14.9551 117.913 14.6589 119.268 14.6328L121.543 14.5938V14.0566C121.543 13.3665 121.423 12.8555 121.182 12.5234C120.941 12.1849 120.547 12.0156 120 12.0156C119.492 12.0156 119.118 12.1328 118.877 12.3672C118.643 12.5951 118.496 12.9759 118.438 13.5098L115.576 13.373C115.934 11.2832 117.448 10.2383 120.117 10.2383C121.452 10.2383 122.48 10.5671 123.203 11.2246C123.926 11.8822 124.287 12.8164 124.287 14.0273V17.875C124.287 18.4674 124.352 18.8776 124.482 19.1055C124.619 19.3268 124.844 19.4375 125.156 19.4375C125.365 19.4375 125.566 19.418 125.762 19.3789V20.8633C125.423 20.9479 125.133 21.0098 124.893 21.0488C124.652 21.0944 124.355 21.1172 124.004 21.1172C123.314 21.1172 122.803 20.9479 122.471 20.6094C122.145 20.2708 121.95 19.7728 121.885 19.1152H121.826C121.442 19.8053 120.96 20.3262 120.381 20.6777C119.801 21.0228 119.124 21.1953 118.35 21.1953ZM121.543 16.1074L120.137 16.127C119.492 16.1595 119.04 16.2279 118.779 16.332C118.512 16.4492 118.307 16.625 118.164 16.8594C118.027 17.0938 117.959 17.4062 117.959 17.7969C117.959 18.2982 118.073 18.6725 118.301 18.9199C118.535 19.1608 118.844 19.2812 119.229 19.2812C119.658 19.2812 120.052 19.1641 120.41 18.9297C120.762 18.6953 121.038 18.373 121.24 17.9629C121.442 17.5462 121.543 17.1068 121.543 16.6445V16.1074ZM129.482 21.1953C128.46 21.1953 127.663 20.9186 127.09 20.3652C126.517 19.8053 126.23 19.0208 126.23 18.0117C126.23 16.918 126.585 16.0879 127.295 15.5215C128.011 14.9551 129.046 14.6589 130.4 14.6328L132.676 14.5938V14.0566C132.676 13.3665 132.555 12.8555 132.314 12.5234C132.074 12.1849 131.68 12.0156 131.133 12.0156C130.625 12.0156 130.251 12.1328 130.01 12.3672C129.775 12.5951 129.629 12.9759 129.57 13.5098L126.709 13.373C127.067 11.2832 128.581 10.2383 131.25 10.2383C132.585 10.2383 133.613 10.5671 134.336 11.2246C135.059 11.8822 135.42 12.8164 135.42 14.0273V17.875C135.42 18.4674 135.485 18.8776 135.615 19.1055C135.752 19.3268 135.977 19.4375 136.289 19.4375C136.497 19.4375 136.699 19.418 136.895 19.3789V20.8633C136.556 20.9479 136.266 21.0098 136.025 21.0488C135.785 21.0944 135.488 21.1172 135.137 21.1172C134.447 21.1172 133.936 20.9479 133.604 20.6094C133.278 20.2708 133.083 19.7728 133.018 19.1152H132.959C132.575 19.8053 132.093 20.3262 131.514 20.6777C130.934 21.0228 130.257 21.1953 129.482 21.1953ZM132.676 16.1074L131.27 16.127C130.625 16.1595 130.173 16.2279 129.912 16.332C129.645 16.4492 129.44 16.625 129.297 16.8594C129.16 17.0938 129.092 17.4062 129.092 17.7969C129.092 18.2982 129.206 18.6725 129.434 18.9199C129.668 19.1608 129.977 19.2812 130.361 19.2812C130.791 19.2812 131.185 19.1641 131.543 18.9297C131.895 18.6953 132.171 18.373 132.373 17.9629C132.575 17.5462 132.676 17.1068 132.676 16.6445V16.1074ZM149.336 17.0352C149.336 18.3828 148.835 19.4147 147.832 20.1309C146.836 20.8405 145.371 21.1953 143.438 21.1953C139.954 21.1953 137.926 19.9355 137.354 17.416L140.137 16.957C140.326 17.6862 140.693 18.2168 141.24 18.5488C141.787 18.8743 142.546 19.0371 143.516 19.0371C144.525 19.0371 145.28 18.8841 145.781 18.5781C146.283 18.2721 146.533 17.8132 146.533 17.2012C146.533 16.8105 146.419 16.4883 146.191 16.2344C145.964 15.9805 145.638 15.7689 145.215 15.5996C145.007 15.515 144.701 15.4238 144.297 15.3262C143.893 15.222 143.392 15.1081 142.793 14.9844C142.103 14.8216 141.562 14.6849 141.172 14.5742C140.781 14.457 140.469 14.3464 140.234 14.2422C140 14.1315 139.772 14.0111 139.551 13.8809C139.062 13.5879 138.682 13.1973 138.408 12.709C138.135 12.2207 137.998 11.612 137.998 10.8828C137.998 9.63932 138.464 8.6888 139.395 8.03125C140.332 7.36719 141.693 7.03516 143.477 7.03516C145.182 7.03516 146.462 7.30208 147.314 7.83594C148.174 8.36979 148.727 9.25195 148.975 10.4824L146.182 10.8633C146.038 10.2708 145.745 9.82487 145.303 9.52539C144.867 9.22591 144.238 9.07617 143.418 9.07617C142.546 9.07617 141.891 9.21289 141.455 9.48633C141.019 9.75977 140.801 10.1699 140.801 10.7168C140.801 11.0749 140.892 11.3678 141.074 11.5957C141.263 11.8236 141.54 12.0189 141.904 12.1816C142.249 12.3379 142.988 12.5365 144.121 12.7773C144.779 12.9206 145.345 13.0573 145.82 13.1875C146.296 13.3112 146.676 13.4316 146.963 13.5488C147.249 13.6725 147.503 13.8027 147.725 13.9395C147.952 14.0762 148.148 14.2227 148.311 14.3789C148.643 14.6979 148.896 15.0788 149.072 15.5215C149.248 15.9577 149.336 16.4622 149.336 17.0352Z" fill="#155DFC"/>
        </svg>

        <a href="{{ path('app_dashboard') }}" class="flex items-center gap-3 px-3 py-2 rounded-lg text-sm font-medium text-blue-600 bg-blue-50 transition">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.5 2.5H3.33333C2.8731 2.5 2.5 2.8731 2.5 3.33333V9.16667C2.5 9.6269 2.8731 10 3.33333 10H7.5C7.96024 10 8.33333 9.6269 8.33333 9.16667V3.33333C8.33333 2.8731 7.96024 2.5 7.5 2.5Z" stroke="#155DFC" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M16.6666 2.5H12.5C12.0397 2.5 11.6666 2.8731 11.6666 3.33333V5.83333C11.6666 6.29357 12.0397 6.66667 12.5 6.66667H16.6666C17.1269 6.66667 17.5 6.29357 17.5 5.83333V3.33333C17.5 2.8731 17.1269 2.5 16.6666 2.5Z" stroke="#155DFC" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M16.6666 10H12.5C12.0397 10 11.6666 10.3731 11.6666 10.8333V16.6667C11.6666 17.1269 12.0397 17.5 12.5 17.5H16.6666C17.1269 17.5 17.5 17.1269 17.5 16.6667V10.8333C17.5 10.3731 17.1269 10 16.6666 10Z" stroke="#155DFC" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M7.5 13.3333H3.33333C2.8731 13.3333 2.5 13.7063 2.5 14.1666V16.6666C2.5 17.1268 2.8731 17.4999 3.33333 17.4999H7.5C7.96024 17.4999 8.33333 17.1268 8.33333 16.6666V14.1666C8.33333 13.7063 7.96024 13.3333 7.5 13.3333Z" stroke="#155DFC" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            Dashboard
        </a>

        <a href="#" class="flex items-center gap-3 px-3 py-2 rounded-lg text-sm text-gray-600 hover:bg-gray-100 transition">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.5 1.66675H5.00004C4.55801 1.66675 4.13409 1.84234 3.82153 2.1549C3.50897 2.46746 3.33337 2.89139 3.33337 3.33341V16.6667C3.33337 17.1088 3.50897 17.5327 3.82153 17.8453C4.13409 18.1578 4.55801 18.3334 5.00004 18.3334H15C15.4421 18.3334 15.866 18.1578 16.1786 17.8453C16.4911 17.5327 16.6667 17.1088 16.6667 16.6667V5.83341L12.5 1.66675Z" stroke="#4A5565" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M11.6666 1.66675V5.00008C11.6666 5.44211 11.8422 5.86603 12.1548 6.17859C12.4673 6.49115 12.8913 6.66675 13.3333 6.66675H16.6666" stroke="#4A5565" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M8.33329 7.5H6.66663" stroke="#4A5565" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M13.3333 10.8333H6.66663" stroke="#4A5565" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M13.3333 14.1667H6.66663" stroke="#4A5565" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            Factures
        </a>

        <a href="#" class="flex items-center gap-3 px-3 py-2 rounded-lg text-sm text-gray-600 hover:bg-gray-100 transition">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.3333 17.5V15.8333C13.3333 14.9493 12.9821 14.1014 12.357 13.4763C11.7319 12.8512 10.884 12.5 9.99996 12.5H4.99996C4.1159 12.5 3.26806 12.8512 2.64294 13.4763C2.01782 14.1014 1.66663 14.9493 1.66663 15.8333V17.5" stroke="#4A5565" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M7.49996 9.16667C9.34091 9.16667 10.8333 7.67428 10.8333 5.83333C10.8333 3.99238 9.34091 2.5 7.49996 2.5C5.65901 2.5 4.16663 3.99238 4.16663 5.83333C4.16663 7.67428 5.65901 9.16667 7.49996 9.16667Z" stroke="#4A5565" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M18.3334 17.5001V15.8334C18.3328 15.0948 18.087 14.3774 17.6345 13.7937C17.182 13.2099 16.5485 12.793 15.8334 12.6084" stroke="#4A5565" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M13.3334 2.6084C14.0504 2.79198 14.6859 3.20898 15.1397 3.79366C15.5936 4.37833 15.8399 5.09742 15.8399 5.83757C15.8399 6.57771 15.5936 7.2968 15.1397 7.88147C14.6859 8.46615 14.0504 8.88315 13.3334 9.06673" stroke="#4A5565" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            Clients
        </a>

        <a href="{{ path('app_product_index') }}" class="flex items-center gap-3 px-3 py-2 rounded-lg text-sm text-gray-600 hover:bg-gray-100 transition">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.16667 2.5L2.5 6.25V13.75L9.16667 17.5L15.8333 13.75V6.25L9.16667 2.5Z" stroke="#4A5565" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M9.16663 17.5V10" stroke="#4A5565" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M15.8334 6.25L9.16671 10L2.5 6.25" stroke="#4A5565" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M5.83337 4.375L12.5 8.125" stroke="#4A5565" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            Produits
        </a>

        <a href="{{ path('app_profile') }}" class="flex items-center gap-3 px-3 py-2 rounded-lg text-sm text-gray-600 hover:bg-gray-100 transition">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.1833 1.66675H9.81667C9.37464 1.66675 8.95072 1.84234 8.63816 2.1549C8.3256 2.46746 8.15 2.89139 8.15 3.33341V3.48341C8.1497 3.77569 8.07255 4.06274 7.92628 4.31578C7.78002 4.56882 7.56978 4.77895 7.31667 4.92508L6.95834 5.13341C6.70497 5.2797 6.41756 5.35671 6.125 5.35671C5.83244 5.35671 5.54503 5.2797 5.29167 5.13341L5.16667 5.06675C4.78422 4.84613 4.32987 4.78628 3.90334 4.90034C3.47681 5.01439 3.11296 5.29303 2.89167 5.67508L2.70833 5.99175C2.48772 6.37419 2.42787 6.82855 2.54192 7.25508C2.65598 7.68161 2.93461 8.04546 3.31667 8.26675L3.44167 8.35008C3.69356 8.49551 3.90302 8.70432 4.04921 8.95577C4.1954 9.20723 4.27325 9.49256 4.275 9.78341V10.2084C4.27617 10.5021 4.19971 10.7909 4.05337 11.0455C3.90703 11.3001 3.69601 11.5116 3.44167 11.6584L3.31667 11.7334C2.93461 11.9547 2.65598 12.3186 2.54192 12.7451C2.42787 13.1716 2.48772 13.626 2.70833 14.0084L2.89167 14.3251C3.11296 14.7071 3.47681 14.9858 3.90334 15.0998C4.32987 15.2139 4.78422 15.154 5.16667 14.9334L5.29167 14.8667C5.54503 14.7205 5.83244 14.6435 6.125 14.6435C6.41756 14.6435 6.70497 14.7205 6.95834 14.8667L7.31667 15.0751C7.56978 15.2212 7.78002 15.4313 7.92628 15.6844C8.07255 15.9374 8.1497 16.2245 8.15 16.5167V16.6667C8.15 17.1088 8.3256 17.5327 8.63816 17.8453C8.95072 18.1578 9.37464 18.3334 9.81667 18.3334H10.1833C10.6254 18.3334 11.0493 18.1578 11.3618 17.8453C11.6744 17.5327 11.85 17.1088 11.85 16.6667V16.5167C11.8503 16.2245 11.9275 15.9374 12.0737 15.6844C12.22 15.4313 12.4302 15.2212 12.6833 15.0751L13.0417 14.8667C13.295 14.7205 13.5824 14.6435 13.875 14.6435C14.1676 14.6435 14.455 14.7205 14.7083 14.8667L14.8333 14.9334C15.2158 15.154 15.6701 15.2139 16.0967 15.0998C16.5232 14.9858 16.887 14.7071 17.1083 14.3251L17.2917 14.0001C17.5123 13.6176 17.5721 13.1633 17.4581 12.7367C17.344 12.3102 17.0654 11.9464 16.6833 11.7251L16.5583 11.6584C16.304 11.5116 16.093 11.3001 15.9466 11.0455C15.8003 10.7909 15.7238 10.5021 15.725 10.2084V9.79175C15.7238 9.49806 15.8003 9.20929 15.9466 8.95466C16.093 8.70003 16.304 8.48859 16.5583 8.34175L16.6833 8.26675C17.0654 8.04546 17.344 7.68161 17.4581 7.25508C17.5721 6.82855 17.5123 6.37419 17.2917 5.99175L17.1083 5.67508C16.887 5.29303 16.5232 5.01439 16.0967 4.90034C15.6701 4.78628 15.2158 4.84613 14.8333 5.06675L14.7083 5.13341C14.455 5.2797 14.1676 5.35671 13.875 5.35671C13.5824 5.35671 13.295 5.2797 13.0417 5.13341L12.6833 4.92508C12.4302 4.77895 12.22 4.56882 12.0737 4.31578C11.9275 4.06274 11.8503 3.77569 11.85 3.48341V3.33341C11.85 2.89139 11.6744 2.46746 11.3618 2.1549C11.0493 1.84234 10.6254 1.66675 10.1833 1.66675Z" stroke="#4A5565" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M10 12.5C11.3807 12.5 12.5 11.3807 12.5 10C12.5 8.61929 11.3807 7.5 10 7.5C8.61929 7.5 7.5 8.61929 7.5 10C7.5 11.3807 8.61929 12.5 10 12.5Z" stroke="#4A5565" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            Profil
        </a>

        <div class="flex flex-col flex-1 justify-end mt-auto pt-6 border-t border-gray-100 gap-3">
            <div class="flex items-center gap-3 px-2">
                <div class="w-9 h-9 rounded-full bg-blue-600 flex items-center justify-center text-white text-sm font-semibold shrink-0">
                    {{ app.user ? app.user.userIdentifier|slice(0,2)|upper : 'JD' }}
                </div>
                <div class="flex flex-col min-w-0">
                    <span class="text-sm font-medium text-gray-800 truncate">
                        {{ app.user ? app.user.companyName : 'Raison sociale' }}
                    </span>
                    <span class="text-xs text-gray-400 truncate">
                        {{ app.user ? app.user.userIdentifier : 'email@exemple.fr' }}
                    </span>
                </div>
            </div>
            <a href="{{ path('app_logout') }}" class="flex items-center gap-3 px-3 py-2 rounded-lg text-sm text-red-600 hover:bg-red-50 transition">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.5 17.5H4.16667C3.72464 17.5 3.30072 17.3244 2.98816 17.0118C2.67559 16.6993 2.5 16.2754 2.5 15.8333V4.16667C2.5 3.72464 2.67559 3.30072 2.98816 2.98816C3.30072 2.67559 3.72464 2.5 4.16667 2.5H7.5" stroke="#E7000B" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M13.3334 14.1668L17.5 10.0002L13.3334 5.8335" stroke="#E7000B" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M17.5 10H7.5" stroke="#E7000B" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                Déconnexion
            </a>
        </div>
    </aside>

    <main class="flex-1 p-8 bg-[#f8fafc]">
        <h1 class="text-2xl font-semibold text-gray-900 mb-8">Dashboard</h1>

        <div class="grid grid-cols-4 gap-4 mb-8">
            <div class="bg-white rounded-2xl border border-gray-200 p-6">
                <div class="w-10 h-10 rounded-full bg-green-100 flex items-center justify-center mb-4">
                    <span class="text-green-600 font-bold text-lg">€</span>
                </div>
                <p class="text-sm text-gray-500 mb-1">Chiffre d'affaires (Payé)</p>
                <p class="text-2xl font-bold text-gray-900">2 250 €</p>
            </div>

            <div class="bg-white rounded-2xl border border-gray-200 p-6">
                <div class="w-10 h-10 rounded-full bg-orange-100 flex items-center justify-center mb-4">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.5 1.66675H5.00004C4.55801 1.66675 4.13409 1.84234 3.82153 2.1549C3.50897 2.46746 3.33337 2.89139 3.33337 3.33341V16.6667C3.33337 17.1088 3.50897 17.5327 3.82153 17.8453C4.13409 18.1578 4.55801 18.3334 5.00004 18.3334H15C15.4421 18.3334 15.866 18.1578 16.1786 17.8453C16.4911 17.5327 16.6667 17.1088 16.6667 16.6667V5.83341L12.5 1.66675Z" stroke="#F97316" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <p class="text-sm text-gray-500 mb-1">Factures en attente de paiement</p>
                <p class="text-2xl font-bold text-gray-900">1</p>
            </div>

            <div class="bg-white rounded-2xl border border-gray-200 p-6">
                <div class="w-10 h-10 rounded-full bg-blue-100 flex items-center justify-center mb-4">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.3333 17.5V15.8333C13.3333 14.9493 12.9821 14.1014 12.357 13.4763C11.7319 12.8512 10.884 12.5 9.99996 12.5H4.99996C4.1159 12.5 3.26806 12.8512 2.64294 13.4763C2.01782 14.1014 1.66663 14.9493 1.66663 15.8333V17.5" stroke="#3B82F6" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M7.49996 9.16667C9.34091 9.16667 10.8333 7.67428 10.8333 5.83333C10.8333 3.99238 9.34091 2.5 7.49996 2.5C5.65901 2.5 4.16663 3.99238 4.16663 5.83333C4.16663 7.67428 5.65901 9.16667 7.49996 9.16667Z" stroke="#3B82F6" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <p class="text-sm text-gray-500 mb-1">Total Clients</p>
                <p class="text-2xl font-bold text-gray-900">2</p>
            </div>

            <div class="bg-white rounded-2xl border border-gray-200 p-6">
                <div class="w-10 h-10 rounded-full bg-purple-100 flex items-center justify-center mb-4">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.16667 2.5L2.5 6.25V13.75L9.16667 17.5L15.8333 13.75V6.25L9.16667 2.5Z" stroke="#9333EA" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M9.16663 17.5V10" stroke="#9333EA" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M15.8334 6.25L9.16671 10L2.5 6.25" stroke="#9333EA" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <p class="text-sm text-gray-500 mb-1">Total Produits</p>
                <p class="text-2xl font-bold text-gray-900">3</p>
            </div>
        </div>

        <div class="bg-white rounded-2xl border border-gray-200 p-6 mb-8">
            <div class="flex justify-between items-center mb-6">
                <h2 class="text-base font-semibold text-gray-900">Chiffre d'affaires mensuel (Factures payées)</h2>
                <select class="border border-gray-200 rounded-lg px-3 py-1.5 text-sm text-gray-600">
                    <option>2023</option>
                    <option>2024</option>
                    <option>2025</option>
                </select>
            </div>
            <div class="flex items-end gap-2 h-48">
                {% set mois = ['Jan', 'Fév', 'Mar', 'Avr', 'Mai', 'Juin', 'Juil', 'Août', 'Sep', 'Oct', 'Nov', 'Déc'] %}
                {% for m in mois %}
                    <div class="flex flex-col items-center flex-1 gap-1">
                        <div class="w-full rounded-t {{ m == 'Mar' ? 'bg-blue-500 h-40' : 'bg-gray-100 h-2' }}"></div>
                        <span class="text-xs text-gray-400">{{ m }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="grid grid-cols-3 gap-4 mb-4">
            <a href="#" class="bg-blue-50 rounded-2xl border border-blue-100 p-6 flex justify-between items-start hover:bg-blue-100 transition">
                <div>
                    <p class="font-semibold text-blue-700 mb-1">Créer une facture</p>
                    <p class="text-sm text-blue-500">Nouvelle prestation</p>
                </div>
                <span class="text-blue-500 text-xl">→</span>
            </a>

            <a href="#" class="bg-white rounded-2xl border border-gray-200 p-6 flex justify-between items-start hover:bg-gray-50 transition">
                <div>
                    <p class="font-semibold text-gray-900 mb-1">Ajouter un client</p>
                    <p class="text-sm text-gray-500">Gérer le répertoire</p>
                </div>
                <span class="text-gray-400 text-xl">→</span>
            </a>

            <a href="#" class="bg-white rounded-2xl border border-gray-200 p-6 flex justify-between items-start hover:bg-gray-50 transition">
                <div>
                    <p class="font-semibold text-gray-900 mb-1">Créer un produit / service</p>
                    <p class="text-sm text-gray-500">Enrichir le catalogue pour rédiger rapidement vos factures</p>
                </div>
                <span class="text-gray-400 text-xl">→</span>
            </a>
        </div>

        <div class="grid grid-cols-3 gap-4">
            <a href="#" class="bg-white rounded-2xl border border-gray-200 p-6 flex justify-between items-start hover:bg-gray-50 transition">
                <div>
                    <p class="font-semibold text-gray-900 mb-1">Relancer tous les clients</p>
                    <p class="text-sm text-gray-500">Envoyer un mail à tous les clients en retard de paiement</p>
                </div>
                <span class="text-gray-400 text-xl">→</span>
            </a>
        </div>
    </main>
</div>
{% endblock %}